# ─── Server ───────────────────────────────────────────────
PORT=3000
NODE_ENV=development

# ─── Database ─────────────────────────────────────────────
# Локально:  mongodb://localhost:27017/it-academy-lms
# Atlas:     mongodb+srv://<user>:<password>@cluster.mongodb.net/it-academy-lms
MONGO_URL=mongodb://localhost:27017/it-academy-lms

# ─── JWT ──────────────────────────────────────────────────
# Генерація секрету: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_ACCESS_SECRET=your-super-secret-access-key-here
JWT_REFRESH_SECRET=your-super-secret-refresh-key-here

JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# ─── CORS ─────────────────────────────────────────────────
CLIENT_URL=http://localhost:5173
